.navbar{
    width: 230px;
    margin: 0px 0 0 0;
    cursor: pointer;
    height: 719px;
}
.navbarItems{
    padding: 20px 0 0 50px;
}
.navHeader{
    margin: 0 0 20px 0;
}
.headerIcon{
    color: red;
}
ul{
    list-style-type: none;
}
li{
    padding: 15px 0;
}
.navbarIcon{
    margin: 0 10px;
}